:root {
    /*fonts*/
    /*text colors*/
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196f3;
    /*background colors*/
}

.page {
    color: var(--main-txt-cl);
    font-family: "Roboto";
    letter-spacing: 0.03em;
    font-size: 14px;
    width: 1600px;
}

/* header */

.header {
    border-bottom: #ececec;
}

.header-container {
    display: flex;
    align-items: baseline;
    padding: 32px;
}

.header-nav {
    margin-right: auto;
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo-header {
    color: rgba(0, 0, 0, 1);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 90px;
}

.logo-web {
    color: var(--accent-txt-cl);
}

.logo-studio {
    color: #000;
}

.header-link {
    text-decoration: none;
}

.current {
    color: var(--accent-txt-cl);
}

.header-nav .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: var(--accent-txt-cl);
}

.list-header .link-contacts {
    width: 122px;
    height: 16px;
    color: #757575;
}

.list-header .link-contacts:hover,
.list-header .link-contacts:focus {
    color: var(--accent-txt-cl);
}

.list-header {
    display: flex;
    gap: 50px;
}

.adress {
    height: 21px;
    width: 231px;
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: #FFFFFF
}

.contacts {
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    width: 136px;
    height: 21px;
    color: rgba(255, 255, 255, 0.6);
}

.list-header {
    list-style: none;
    color: #757575;
}

.link-contacts {
    text-decoration: none;
}

.link-contacts {
    color: currentColor;
}

.web-link {
    color: currentColor;
}


/*main*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}

.hero {
    background-color: #2F303A;
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

}

.container-hero {
    position: absolute;
    height: 600px;
    width: 1600px;
    left: 0px;
    top: 0px;
}

.hero-button {
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    border: none;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    padding-top: 200px;
}

.main .hero-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: var(--accent-txt-cl);
}

.hero-button {
    width: 216px;
    height: 50px;
}

.features {
    list-style: none;
    position: absolute;
    width: 1170px;
    height: 98px;
    left: 215px;
    top: 774px;
}

.container-features {
    display: flex;
    margin-top: 85px;
    margin-bottom: 80px;
}

.features-detail {
    text-transform: uppercase;
    color: var(--main-txt-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
}

.features-detail-p {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 00.03em;
    color: #757575;
}

.our-work {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 966px;
}

.what-we-do {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.container-our-work {
    padding-bottom: 30px;
}

.work {
    display: flex;
    gap: 30px;
}

.our-team {
    background-color: #f5f4fa;
    position: absolute;
    top: 1448px;
    width: 1600px;
    height: 648px;
    left: 0px;
}

.container-our-team {
    padding-top: 20px;
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;

}

.our-headline-team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.team-list {
    display: flex;
    left: 215px;
    width: 1170px;
}

.list-item-team {
    background-color: white;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 10px;
}

.position {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
}

/* footer */
.container-footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    background-color:#2F303A;
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    display: inline-block;
}

.logo-footer {
    color: var(--accent-txt-cl);
    height: 31px;
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.logo-footer-1 {
    color: #FFFFFF;
}


.logo-footer 
.logo-footer-1 {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2154px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.adress {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: #FFFFFF;
}

.contacts {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list {
    list-style: none;
}

/*portfolio*/

.container-portfolio {
   width: 1170px; 
}

.portfolio-div {
    max-width: 1200px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
    padding-bottom: 94px;

}

.list .button {
    color: var(--main-txt-cl);
    background-color: #f5f4fa;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
}

.list .button:hover,
.list .button:focus,
.list .button:active {
    color: #FFFFFF;
    background-color: var(--accent-txt-cl);
}

.our-projects {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.list-projects {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 34px;
    width: 370px;
    
}

.projects {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;
    flex-basis: calc((100% - 30px) / 3);
}

.link {
    text-decoration: none;
}

.project-name {
    font-size: 18px;
    line-height: calc(36 / 18);
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 0px;

}

.project-type {
    font-size: 16px;
    line-height: calc(30 / 16);
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #757575;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 0px;
}