:root {
    /*fonts*/
    /*text colors*/
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196f3;
    /*background colors*/
}

.page {
    color: var(--main-txt-cl);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

/* header */

.navigation {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navigation .current {
    color: var(--accent-txt-cl);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-txt-cl);
}

.header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: baseline;

}

.header-nav {
    margin-right: auto;
    list-style: none;
    display: flex;
    align-items: center;
}

.logo-header {
    color: rgba(0, 0, 0, 1);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo-web {
    color: var(--accent-txt-cl);
}

.logo-studio {
    color: #000;
}

.header-link {
    text-decoration: none;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.header-link:hover,
.header-link:focus,
.active {
    color: var(--accent-txt-cl);
}

.list-header .link-contacts {
    color: #757575;
}

.list-header .link-contacts:hover,
.list-header .link-contacts:focus {
    color: var(--accent-txt-cl);
}

.list-header {
    list-style: none;
    color: #757575;
    font-weight: 500;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.link-contacts {
    text-decoration: none;
    color: currentColor;
}

/*main*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-txt-cl);
    border: none;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {}

.hero-title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
}

.list-features {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.features {
    padding-top: 94px;
    padding-bottom: 0px;
}

.container-features {
    display: flex;
    padding-bottom: 0px;
}

.features-detail {
    text-transform: uppercase;
    color: var(--main-txt-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    margin: 0;
}

.features-detail-p {
    line-height: calc(24 / 14);
    color: #757575;
    margin: 0;
}

.what-we-do-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);

    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

.work {
    display: flex;
    gap: 30px;
    list-style: none;
}

.our-team {
    background-color: #f5f4fa;
}

.our-headline-team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin: 0;
    padding-bottom: 50px;
}

.team-list {
    display: flex;
}

.list-item-team {
    background-color: white;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    padding-top: 30;
    margin: 0;
}

.position {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0;
}

/* footer */

.footer {
    background-color: #2F303A;
    padding-bottom: 60px;
    padding-top: 60px;
}

.logo-footer {
    color: var(--accent-txt-cl);
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    margin-bottom: 20px;
    display: inline-block;
}

.logo-footer-1 {
    color: #FFFFFF;
}


.logo-footer .logo-footer-1 {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2154px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.adress {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: #FFFFFF;
}

.contacts {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: normal;
}

.footer-li {
    margin-bottom: 9px;
}

/*portfolio*/

.img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
}

.section-portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
}

.list-portfolio {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 8px;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.list-portfolio .button {
    color: var(--main-txt-cl);
    background-color: #f5f4fa;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    padding: 6px 22px;
    cursor: pointer;
}

.list-portfolio .button:hover,
.list-portfolio .button:focus,
.list-portfolio .button:active {
    color: #FFFFFF;
    background-color: var(--accent-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-projects {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.list-projects {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.projects {
    border-color: #EEEEEE;
    flex-basis: calc((100% - 2*30px) / 3);
}

.link {
    text-decoration: none;
}

.card-text {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-name {
    font-size: 18px;
    line-height: calc(36 / 18);
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
    margin-top: 0;
    margin-bottom: 4px;
}

.project-type {
    font-size: 16px;
    line-height: calc(30 / 16);
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
}